.calculadora {
    width: 200px;
    margin: 50px auto;
  }
  
  .display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  .buttons button {
    padding: 10px;
    font-size: 18px;
  }
  .color{
    background: #4dbfb5;
  }